
&i2c0 {
	adxl345@53 {
		reg = <0x53>;
		compatible = "adi,adxl345";
		status = "okay";
	};

	hmc5883l@1e {
		reg = <0x1e>;
		compatible = "honeywell,hmc5883l";
		status = "okay";
	};
};

&i2c0_default {
	// Enable internal pull-ups on the I2C port
	group1 {
		bias-pull-up;
	};
};
