mainmenu "theadmouse"

menu "TheadMouse Configuration"

config APP_PROJECT_NAME
	string "Project name"
	default "TheadMouse"
	help
		Human-readable name of this firmware/application

menu "Logging Configuration"

module = THEADMOUSE
module-str = theadmouse
source "subsys/logging/Kconfig.template.log_config"

module = AT
module-str = at
source "subsys/logging/Kconfig.template.log_config"

module = BLE_HID_SERVICE
module-str = ble_hid_service
source "subsys/logging/Kconfig.template.log_config"

module = BUTTON_MANAGER
module-str = button_manager
source "subsys/logging/Kconfig.template.log_config"

module = CMD_UART
module-str = cmd_uart
source "subsys/logging/Kconfig.template.log_config"

module = HEADMOUSE_INPUT
module-str = headmouse_input
source "subsys/logging/Kconfig.template.log_config"

module = MOTION_ENGINE
module-str = motion_engine
source "subsys/logging/Kconfig.template.log_config"

module = SLOT_MANAGER
module-str = slot_manager
source "subsys/logging/Kconfig.template.log_config"

module = TELEMETRY_UART
module-str = telemetry_uart
source "subsys/logging/Kconfig.template.log_config"

endmenu

rsource "drivers/sensor/st/lsm6dsl/Kconfig"

endmenu

source "Kconfig.zephyr"
